	<div wait-loading=""></div>
	<div class="content active ng-hide" ng-show="!loading" id="parental-control">
		<h4 class="maintitle" translate="acPcInternetAcessControlPlanning">Internet Access Control Planning</h4>
		<form name="parentalForm" check-unsaved="">
			<div class="row" ng-if="(!deviceId && connectedDevices.length <= 1) || (deviceId && connectedDevices.length < 1)">
				<div class="columns medium-6" translate="noConnectedDevices">
					No devices connected
				</div>
			</div>

			<div class="row" ng-show="!selectedDevices.length && isNewParentalControl">
				<div class="alert-box warning radius medium-8 small-8" data-alert="">
				    <i class="fa fa-info-circle fa-center center"></i>
				    <span translate="infoParentalControl">Select a device for showing parental control planning.</span>
				</div>
			</div>

			<ul id="acPcTip1" class="devices-list" ng-show="connectedDevices.length > 1 && moduleType == 'new'">
				<li class="devices-list__item" ng-repeat="device in connectedDevices">
			        <label class="device" for="parentalControlDevice__{{$index}}">
			            <input id="parentalControlDevice__{{$index}}" type="checkbox" ng-checked="device.checked" ng-click="toogleSelectedDevice(device)">
			            <span ng-bind="device != connectedDevices[0] ? device.hostname : device.hostname | translate"></span>
			        </label>
			    </li>
			</ul>
			<div class="row select-host ng-hide" ng-show="connectedDevices.length > 1 && moduleType == 'host'">
				<div class="columns medium-2">
					<label class="inline" for="" translate="acPcSelect">Select</label>
				</div>

				<div class="columns medium-4 end">
					<select multiple size="4" ng-model="selectedDevices" ng-change="changeTimeSlots()" id="acPcTip1">
						<option value="{{device.hostname}}" ng-repeat="device in connectedDevices" ng-bind="device != connectedDevices[0] ? device.hostname : device.hostname | translate"></option>
					</select>
				</div>

				<div class="columns medium-6 hide-on-mobile" ng-if="connectedDevices.length > 2">
					<label class="inline" for="" translate="acPcCtrlKey">Use Ctrl key to select more than one device</label>
				</div>
			</div>
			
			

			<div class="row ng-hide" ng-show="selectedDevices.length >= 1">
				<div class="columns">
					<div class="alert-box warning radius medium-10 small-12" data-alert="">
					    <i class="fa fa-info-circle fa-center center"></i>
					    <span translate="scheduleTip">Click and drag schedule bars below to select specific time.</span>
					</div>
				</div>
				<div class="columns medium-2 small-3 pad-top">
					<p>
						<strong translate="acPcWeekTimeSlots"> Week Time Slots </strong>
					</p>
				</div>
				<div class="columns medium-6 small-9 pad-top">
					<div class="row">
						<div class="columns small-4">
							<p>
								<i class="time-slot allowed"></i>&nbsp;<span translate="acPcAllowed">Allowed</span>
							</p>
						</div>

						<div class="columns small-4">
							<p>
								<i class="time-slot denied"></i>&nbsp;<span translate="acPcDenied">Denied</span>
							</p>
						</div>
						<div class="columns small-4 end">
							<p>
								<i class="time-slot mixed"></i>&nbsp;<span translate="acPcMixed">Mixed</span>
							</p>
						</div>
					</div>
				</div>
				<div class="columns medium-4 small-12 text-center">
					<div class="row">
						<div class="columns small-6">
							<button ng-click="changeStatus('red', 'all')" class="button tiny radius expand btn-deny-all btn-stop" type="button" value="Deny All" translate="acPcDenyAll" id="acPcTip2">
								Deny All
							</button>
						</div>
						<div class="columns small-6">
							<button ng-click="changeStatus('green', 'all')" class="button tiny radius expand btn-allow-all" type="button" value="Allow All" translate="allowAll" id="acPcTip3">
								Allow All
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row week-time-slots ng-hide" ng-show="selectedDevices.length >= 1">
				<div class="columns small-12">
					<table class="t-a-d" id="acPcTip4">
						<tr>
							<th>0h</th>
							<th width="13%">4h</th>
							<th width="13%">8h</th>
							<th width="13%">12h</th>
							<th width="13%">16h</th>
							<th width="13%">20h</th>
							<th width="13%">24h</th>
							<th width="15%" translate="acPcResetAllDay"></th>
						</tr>
						<tr>
							<th translate="acPcSunday">Sunday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Sunday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Sunday{{$index+1}}" id="Sunday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.SUNDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.SUNDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.SUNDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'SUNDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'SUNDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcMonday">Monday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Monday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Monday{{$index+1}}" id="Monday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.MONDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.MONDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.MONDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'MONDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'MONDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcTuesday">Tuesday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Tuesday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Tuesday{{$index+1}}" id="Tuesday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.TUESDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.TUESDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.TUESDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'TUESDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'TUESDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcWednesday">Wednesday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Wednesday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Wednesday{{$index+1}}" id="Wednesday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.WEDNESDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.WEDNESDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.WEDNESDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'WEDNESDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'WEDNESDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcThursday">Thursday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Thursday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Thursday{{$index+1}}" id="Thursday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.THURSDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.THURSDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.THURSDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'THURSDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'THURSDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcFriday">Friday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Friday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Friday{{$index+1}}" id="Friday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.FRIDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.FRIDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.FRIDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'FRIDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'FRIDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>
						<tr>
							<th translate="acPcSaturday">Saturday</th>
							<td colspan="6">
							<div class="time-inputs">
								<label title="{{$index+1}}" for="Saturday{{$index+1}}" ng-repeat="leIndex in timeSlotsHours">
									<input name="Saturday{{$index+1}}" id="Saturday{{$index+1}}" type="checkbox" ng-model="timeSlotsGrid.SATURDAY[leIndex]" ng-checked="(leValue === 'red') ? true : false" ng-change="leValue = timeSlotsGrid.SATURDAY[leIndex]" ng-true-value="red" ng-false-value="green">
									<i aria-hidden="true" ng-style="(timeSlotsGrid.SATURDAY[leIndex] === 'orange') ? {'background-color':'orange'} : {}"></i> </label>
							</div></td>
							<td>
							<button ng-click="changeStatus('red', 'SATURDAY')" class="button mini radius btn-deny btn-stop" type="button" value="Deny" translate="deny">
								Deny
							</button>
							<button ng-click="changeStatus('green', 'SATURDAY')" class="button mini radius btn-allow" type="button" value="Allow" translate="allow">
								Allow
							</button></td>
						</tr>

					</table>
				</div>
			</div>
			<br><br>
			<div class="row ng-hide" ng-show="selectedDevices.length >= 1" ng-if="showGatewayTime" ng-controller="NTPController">
			    <div class="columns medium-3 small-4">
					<p>
						<strong translate="gatewayTime">Gateway Time</strong>
					</p>
			    </div>
			    <div class="columns medium-5 small-8 end">
			        <p ng-bind="localTime" id="ntpTip2">
			            &nbsp;
			        </p>
				</div>
			</div>
			<br>
			<div class="row" ng-show="selectedDevices.length >= 1">
				<div class="right">
					<button id="acPcTip7" class="button tiny radius btn-cancel" click-loading="" ui-sref="user.home" translate="cancel" value="Cancel">
						Cancel
					</button>
					<button id="acPcTip8" class="button tiny radius" type="submit" translate="apply" value="Apply" ng-click="save()">
						Apply
					</button>
				</div>
			</div>
			<!--for trigger event-->
			<input type="hidden" class="dummy">
		</form>
	</div>

<!-- help button -->
<ul id="tlyPageGuide">
	<li translate="acPcTip1" data-tourtarget="#acPcTip1"></li>
	<li translate="acPcTip99" data-tourtarget="#acPcTip99"></li>
	<li translate="acPcTip2" data-tourtarget="#acPcTip2"></li>
	<li translate="acPcTip3" data-tourtarget="#acPcTip3"></li>
	<li translate="acPcTip4" data-tourtarget="#acPcTip4"></li>
</ul>

<script>
	$(function() {
		function changeAngularObj(obj, value) {
			angular.element(obj).controller('ngModel').$setViewValue(value);
			angular.element(obj).controller('ngModel').$render();
			angular.element(obj).scope().$digest();
		}

		setTimeout(function() {
			$('.time-inputs input').dragCheck({
				callback : function(obj, state) {
					changeAngularObj($(obj), state);
				}
			});
		}, 2000);
	});
</script>
