<div class="columns medium-12 ng-hide" ng-show="true">
	<div class="row">
		<div id="header-page">
			<div class="columns medium-6 custom-menu-title-size">
				<h3 translate="accessControl">Access Control</h3>
			</div>
			<div class="columns medium-6 custom-menu-itens-size-pages text-right header-controls">
				<span ng-if="reverseHeaderControls">
					<a id="homebtn" title="Home" class="icons-bg border-gray" click-loading="" ui-sref="user.home"> <img src="images/icon-home.png" alt="Home Icon"> </a>
					
					<div internet-connectivity=""></div>
				</span>
				<span ng-if="!reverseHeaderControls">
					<div internet-connectivity=""></div>
					<extended-menu ng-if="extendedMenus"></extended-menu>
					
					<a ng-if="!extendedMenus" id="homebtn" title="Home" class="icons-bg border-gray" click-loading="" ui-sref="user.home"> <img src="images/icon-home.png" alt="Home Icon"> </a>
				</span>
			</div>
		</div>
	</div>
	<div messagebox=""></div>
	<div id="main-content">
		<a class="shs" href="javascript:void(0)" translate="showSection">Show Sections</a>
		<dl id="accessControlTab" class="tabs" data-tab="" tab-click="">
			<dd style="display:none;" check-feature-state="parentalControl">
				<a click-loading="" ui-sref="user.accessControl.parentalControl" translate="parentalControl">Parental Control</a>
			</dd>
			<dd style="display:none;" check-feature-state="portForwarding">
				<a click-loading="" ui-sref="user.accessControl.portForwarding" translate="portForwarding">Port Forwarding</a>
			</dd>
			
			<dd style="display:none;" check-feature-state="portTriggering">
				<a click-loading="" ui-sref="user.accessControl.portTriggering" translate="portTriggering" ng-if="!mapEnable">Port Triggering</a>
			</dd>
			<dd style="display:none;" check-feature-state="firewall">
				<a click-loading="" ui-sref="user.accessControl.firewall" translate="firewall">Firewall</a>
			</dd>
			
			
			
			
			<dd style="display:none;" check-feature-state="userAccess">
				<a click-loading="" ui-sref="user.accessControl.user" translate="user">User</a>
			</dd>
			
			
			
			
			
			<dd style="display:none;" check-feature-state="smartInterfaceRRM">
				<a click-loading="" ui-sref="user.accessControl.smartInterfaceRRM">SmartInterface/RRM</a>
			</dd>
			
			
		</dl>
		<div class="tabs-content" ui-view="">
			&nbsp;
		</div>
	</div>
</div>
<script>$(document).foundation();</script>
