<div class="content" id="mptcp">
	<h4 translate="mptcp">MPTCP</h4>
	<div class="row">
		<div class="columns large-4 medium-2 small-4">
			<label class="inline" translate="sStatus">Status</label>
		</div>
		<div class="columns large-3 medium-2 small-8 end" ng-switch="" on="data.status">
			<label class="inline" translate="mptcpStatusEnabled" ng-switch-when="true">Service enabled</label>
			<label class="inline" translate="mptcpStatusDisabled" ng-switch-when="false">Service disabled</label>
		</div>
	</div>
	
</div>