<div class="show-home" wait-loading=""></div>
<div class="clearfix mainTheme ng-hide" id="page-content" ng-show="(!isSonne && loaded) || !loading">
	<div><div bread-crumbs=""></div></div>
	<div class="columns small-12">
		<div class="row">
			<div id="header-page">
				<div class="columns medium-8 small-12 header-top welcome custom-menu-title-home-size">
					<h3 class="welcome"><span translate="welcome">&nbsp;</span>&nbsp;<span class="hideGwName" ng-bind="gwName">&nbsp;</span></h3>
				</div>

				<div class="columns medium-4 small-12 text-right custom-menu-itens-home-size">
					<extended-menu ng-if="extendedMenus"></extended-menu>
					<!-- <a href="javascript:void(0)" class="btn-refresh" id="refresh-btn" ng-click="refresh()"><span translate="clickToRefresh">Click to refresh</span><img src="images/refresh.png"/> </a> -->
					<a id="refresh-btn" class="btn-refresh" ng-click="refresh()">
						<img src="images/refresh.png" class="align-refresh-img">
						<span translate="clickToRefresh" class="align-refresh-img">Refresh</span>
					</a>
				</div>
			</div>
		</div>

		<div id="sbox-container" class="sbox-container-internal-pages">
			<div class="row first-section">
				<div class="columns medium-4 large-3 text-center">
					<div class="box-container">
						<div class="row">
							<div id="my-sagemcom-box" class="columns large-12 medium-12 small-12 border-right-dark text-center click boxes-clickable" click-loading="" ui-sref="user.mysagemcombox">
								<a class="sprite header-box-settings" translate="settings">Settings</a>
								<a><div class="icons-header icons-bg icon-mysagemcom border-gray"></div> <h6 class="h6-box" translate="mySagemcomBox"></h6> </a>
							</div>
						</div>
					</div>
				</div>

        <div class="columns medium-4 large-3 text-center">
          <div class="box-container">
            <div class="row">
              <div id="access-control" class="columns large-12 medium-12 small-12 border-right-dark text-center click boxes-clickable" click-loading="" ui-sref="user.accessControl">
                <a class="sprite header-box-settings" translate="settings">Settings</a>
                <a><div class="icons-header icons-bg border-gray icon-accesscontrol"></div> <h6 class="h6-box" translate="accessControl">Access control</h6> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns medium-4 large-3 text-center">
          <div class="box-container margin-bottom-internet">
            <div class="row">
              <div id="internet-connectivity" class="columns large-12 medium-12 small-12 border-right-dark text-center click boxes-clickable" click-loading="" ui-sref="user.internetConnectivity" ng-if="!isRIPv2Enabled">
                <a class="sprite header-box-settings" translate="settings">Settings</a>
                <a> <div class="icons-header icons-bg icon-internet" ng-class="{ 'rip-enable' : isRIPv2Enabled , 'border-green' : connectivity.status , 'border-dark-red' : !connectivity.status }"></div> <h6 class="h6-box" translate="internetConnectivity">Internet connectivity</h6> </a>
              </div>
              <div id="internet-connectivity" class="columns large-12 medium-12 small-12 text-center border-right-dark boxes-clickable" ng-class="{ 'rip-enable' : isRIPv2Enabled }" ng-if="isRIPv2Enabled">
                <div class="icons-header icons-bg icon-internet" ng-class="connectivity.status ? 'border-green' : 'border-dark-red'"></div> <h6 class="h6-box" translate="internetConnectivity">Internet connectivity</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="columns medium-4 large-3 text-center">
          <div class="box-container">
            <div class="row">
              <div class="columns large-12 medium-12 small-12 border-right-dark text-center icSpeed" ng-if="mobileStatusOnMain">
                <div class="speed-title margin-bottom-status">
                  <span class="icon-status {{connectivity.iconStatus}} display-icon-status" ng-bind="connectivity.currentWanMode | translate"></span>
                </div>
                <div class="row speed-title">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-right">
                    <strong translate="mainAccess">Main Access:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <span ng-bind="connectivity.mainAccess === 'ALL' ? 'None' : connectivity.mainAccess"></span>
                  </div>
                </div>
                <div class="row speed-title" ng-if="connectivity.mainAccess == 'ADSL' || connectivity.mainAccess == 'VDSL'">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-right">
                    <strong translate="dsSpeed">DS speed:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <span ng-bind="connectivity.downstream !== '0.0' ? connectivity.downstream : '--'"></span>&nbsp;Mbit/s
                  </div>
                </div>
                <div class="row speed-title" ng-if="connectivity.mainAccess == 'ADSL' || connectivity.mainAccess == 'VDSL'">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-right">
                    <strong translate="usSpeed">US speed:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <span ng-bind="connectivity.upstream !== '0.0' ? connectivity.upstream : '--'"></span>&nbsp;Mbit/s
                  </div>
                </div>
                <div class="row speed-title">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-right">
                    <strong translate="mobileMode">Mobile mode:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <span ng-bind="connectivity.mobileMode ? connectivity.mobileMode : 'None' | translate"></span>
                  </div>
                </div>
                <div class="row speed-title">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-right">
                    <strong translate="operator">Operator:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <span ng-if="!connectivity.operator">Unknown</span>
                    <span ng-if="!!connectivity.operator" ng-bind="connectivity.operator">Unknown</span>
                  </div>
                </div>
              </div>

              <div class="columns large-12 medium-12 small-12 border-right-dark text-center icSpeed" ng-if="!mobileStatusOnMain">
                <div class="speed-title margin-bottom-status">
                  <span class="icon-status" translate="statusStats"></span>
                </div>
                <div class="row speed-title">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <strong translate="FTTH"></strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status-column text-left">
                    <span ng-bind="(connectivity.status ? 'connected' :'disconnected') | translate"></span>
                  </div>
                </div>
                <div class="row speed-title margin-bottom-status">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <strong translate="wanAddressStatus"></strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status-column text-left">
                    <span ng-bind="connectivity.extip ? connectivity.extip : '-'"></span>
                  </div>
                </div>
                <div class="row speed-title">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <strong translate="telephonyStatus">Telephony:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status-column text-left">
                    <span ng-bind="(connectivity.telefonyEnabled === 'ENABLED' ? 'enabled' : 'disabled') | translate"></span>
                  </div>
                </div>
                <div class="row speed-title" ng-if="connectivity.telefonyEnabled === 'ENABLED'">
                  <div class="columns large-6 medium-6 small-6 paddings-Status text-left">
                    <strong translate="statusSemicolon">Status:</strong>
                  </div>
                  <div class="columns large-6 medium-6 small-6 paddings-Status-column text-left"></div>
                    <span ng-bind="(connectivity.telefonyStatus === 'UP' ? 'registered' : 'nonregistered') | translate"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="row margin-bottom" ng-if="!isCharter">
				<div class="columns large-8 small-12 large-centered ng-hide" ng-show="true">
					<div class="row secondRow">
						<div class="columns medium-3 small-6" check-feature-state="portForwardingLink">
							<a class="mymediabutton" ui-sref="user.accessControl.portForwarding">
								<div id="twonky-link" class="icons-header border-blue icons-bg icon-accesscontrol"></div>
								<h6 class="h6-box-title" translate="portForwarding">Port Forwarding</h6>
							</a>
						</div>
						<div class="columns medium-3 small-6" check-feature-state="DNSLink">
							<a class="mymediabutton" ui-sref="user.mysagemcombox.dns">
								<div id="twonky-link" class="icons-header border-blue icons-bg icon-internet"></div>
								<h6 class="h6-box-title" translate="dns">DNS</h6>
							</a>
						</div>
						<div class="columns medium-3 small-6" check-feature-state="parentalLink">
							<a class="mymediabutton" ui-sref="user.accessControl.parentalControl">
								<div id="twonky-link" class="icons-header border-blue icons-bg icon-accesscontrol"></div>
								<h6 class="h6-box-title" translate="parentalControl">Parental Control</h6>
							</a>
						</div>
						
						
						
						
						
						
					</div>
				</div>
			</div>
		</div>

		<div class="text-right ng-hide" ng-show="loaded && showInactiveDevices">
			<button class="button mini radius button-ncd show-devices" ng-click="isShow = !isShow" ng-bind="(isShow ? 'showActive' : 'showAll') | translate">
				Hide non-connected devices
			</button>
		</div>

		<div class="row ng-hide" ng-show="listEthernetDevices !== undefined  || listPlc !== undefined">
			<div class="columns medium-4 large-3 text-center">
				<div class="box-map device-box" id="ethernet-devices">
					<div class="header-box boxes-clickable">
						<a click-loading="" ui-sref="user.ethernet">
							<div id="my-ethernet" class="icons-bg border-gray header-box-icon ethernet"></div>
							<h6 class="h6-box" translate="ethernet">Ethernet</h6>
						</a>
						<a class="sprite header-box-settings" click-loading="" ui-sref="user.ethernet" translate="settings">Settings</a>
					</div>

					<div ng-show="isEmpty(listEthernetDevices)">
						<p id="description" class="noConnectedDevicesPadding" translate="noConnectedDevices"></p>
					</div>

					<a class="box-item clearfix" ng-repeat="device in listEthernetDevices" ng-click="openDevice(device)" ng-show="device.active === true || isShow" ng-class="{ 'faded' : !device.active }"> <div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
					<div class="info-device">
						<p class="title">
							<span ng-bind="device.hostname"></span>
						</p>
						<p ng-show="activeIPv4 && device.ipv4AddressActive" class="mapBreakWord">
							IP:&nbsp;<span ng-bind="device.ipAddress"></span>
						</p>
						<p ng-show="!activeIPv4" class="mapBreakWord">
							IP:&nbsp;<span ng-bind="device.ipAddress"></span>
						</p>
						<p ng-show="showIpv6Address && device.ipv6AddressActive">
							IPv6:&nbsp;<span class="break-ipv6" ng-bind="device.ipv6Address"></span>
						</p>
						<p ng-show="isSonne" class="wifiSpeedInfo">
							<span translate="speedSemicolon"></span>&nbsp;<span ng-bind="device.speed"></span>&nbsp;Mbit/s
						</p>
						<p class="manufacturerText">
							<span ng-bind="device.manufacturer"></span>
            </p>
            <p check-feature-state="layerInterfaceMainPage">
              <span translate="port">Port</span>&nbsp;<span ng-bind="device.layerInterface"></span>
            </p>
					</div> </a>

					<div class="device-box" id="plc-clients" ng-repeat="plcDevice in listPlcs">
						<div class="header-box">
							<span class="sprite header-box-icon icons-bg border-gray plc"></span>
							<h6 ng-bind-template="{{'PowerLine'|translate}} {{plcDevice.Name}}" class="line-header"></h6>
							<a class="sprite header-box-settings" ng-click="openPlc(plcDevice)" translate="settings">Settings</a>
						</div>
						<div ng-show="isEmpty(plcDevice.hosts)">
							<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
						</div>
						<a class="box-item clearfix" ng-class="{ 'faded' : !plcHost.active }" ng-click="openDevice(plcHost)" ng-repeat="plcHost in plcDevice.hosts" ng-show="plcHost.active === true || isShow"> <div class="sprite icon-device icons-bg border-gray {{plcHost.userDeviceType | deviceIcon}}"></div>
						<div class="info-device">
							<p class="title">
								<span ng-bind="plcHost.hostname"></span>&nbsp;
							</p>
							<p>
								IP:&nbsp;<span ng-bind="plcHost.ipAddress"></span>
							</p>
							<p>
								<span ng-bind="plcHost.manufacturer"></span>
							</p>
						</div>
						</a>
					</div>
				</div>

				<div ng-if="usbHome === 'ethernet'" ng-include="'views/partials/usbList.html'" check-feature-state="usb">
					&nbsp;
				</div>

			</div><!-- ethernet-usb -->

            <!-- WiFi Bandsteering -->
			<div class="columns medium-8 large-6 text-center" check-feature-state="homeWiFiMerge" ng-if="wifiMerge && bandSteeringEnable">
				<div id="wifi-bandsteering" class="box-map device-box clearfix wifi-margin-bottom">
					<div class="header-box boxes-clickable">
						<a click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'priv'})" class="headerLink">
							<div id="tile-wifi-24" class="icons-bg header-box-icon wifi" ng-class="wifi24Status.status == 'ON' ? 'border-green' : 'border-dark-red'"></div>
							<h6 class="h6-box" translate="wifi"></h6>
						</a>
						<a class="sprite header-box-settings headerLink" translate="settings" click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'priv'})">Settings</a>
					</div>
					<p class="info-band-steering info-centered">
						<strong class="wifiSSIDName" translate="ssidName">SSID Name:</strong>&nbsp;
						<span class="breakWifiSSID" ng-bind="wifi24Status.ssid" ng-attr-title="{{wifi24Status.ssid}}"></span>
						<br>
					</p>
					 <!-- column 1 -->
					 <div class="columns medium-6 large-6">
						<p class="info-band-steering">
							<strong class="wifi-2g wifiSSIDName">Radio:</strong>&nbsp;<span class="breakWifiSSID">2.4 GHz</span>
							<br>
							<span check-feature-state="wifiSpeedInfo" class="wifiSpeedInfo">
								<strong translate="speedSemicolon">Speed:</strong>&nbsp;
								<span ng-bind="wifi24Status.actualWifiSpeed"></span>&nbsp;Mbit/s
							</span>
						</p>

						<div ng-show="isEmpty(listWifi24Devices)">
							<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
						</div>

						<div ng-show="(listWifi24Devices | countActive:isShow) === 0">
							<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
						</div>

						<a class="box-item clearfix" ng-repeat="device in listWifi24Devices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow"> <div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
						<div class="info-device">
							<p class="title title-custom">
								<span ng-bind="device.hostname"></span>&nbsp;
							</p>
							<p ng-show="activeIPv4 && device.ipv4AddressActive" ng-if="device.ipAddress" class="mapBreakWord">
								 IP:&nbsp;<span ng-bind="device.ipAddress"></span>
							 </p>
							<p ng-show="!activeIPv4" class="mapBreakWord" ng-if="device.ipAddress">
								IP:&nbsp;<span ng-bind="device.ipAddress"></span>
							</p>
							<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
								IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
							</p>
							
							<p class="mapBreakWord" ng-show="!isSonne">
								<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
							</p>
							<p class="mapBreakWord" ng-show="isSonne">
								<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbit/s
							</p>
							<p>
								<span ng-bind="device.manufacturer"></span>
							</p>
						</div>
						</a>
					</div>
					<!-- end of column 1 -->

					<!-- column 2 -->
					<div class="columns medium-6 large-6">
						<p class="info-band-steering">
							<strong class="wifi-5g wifiSSIDName">Radio:</strong>&nbsp;
							<span class="breakWifiSSID">5 GHz</span>
							<br>
                            <span check-feature-state="wifiSpeedInfo" class="wifiSpeedInfo">
								<strong translate="speedSemicolon">Speed:</strong>&nbsp;
								<span ng-bind="wifi5Status.actualWifiSpeed"></span>&nbsp;Mbit/s
							</span>
						</p>

						<div ng-show="isEmpty(listWifi5Devices)">
							<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
						</div>

						<div ng-show="(listWifi5Devices | countActive:isShow) === 0">
							<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
						</div>

						<a class="box-item clearfix" ng-repeat="device in listWifi5Devices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow">
							<div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
							<div class="info-device">
								<p class="title title-custom">
									<span ng-bind="device.hostname"></span>&nbsp;
								</p>
								<p class="mapBreakWord" ng-if="device.ipAddress">
									IP:&nbsp;<span ng-bind="device.ipAddress"></span>
								</p>
								<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
									IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
								</p>
								
								<p class="mapBreakWord">
									<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
								</p>
								<p>
									<span ng-bind="device.manufacturer"></span>
								</p>
							</div>
						</a>
					</div>
					<!-- end of column 2 -->
				</div>

				<div class="row">
					<div class="columns medium-6 large-6 guest-clients2g" id="guest-clients2g" check-feature-state="wifiGuest24">
						<div class="box-map device-box">
							<div class="header-box header-box-sub  guest-stations">
								<a click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'guest'})" class="headerLink">
									<h6 translate="guestStations" class="line-header">Guest Stations</h6>
								</a>
								<a class="sprite header-box-settings headerLink" translate="settings" click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'guest'})">Settings</a>
							</div>
							<p class="info">
								<strong class="wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;<span class="breakWifiSSID" ng-bind="wifi24GuestStatus.ssid" ng-attr-title="{{wifi24GuestStatus.ssid}}"></span>
								<br>
								<span class="wifiSpeedInfo"></span>
								<a class="qrcode-2 right" data-reveal-id="qr-modal24Guest" data-reveal="" check-feature-state="qrCodes" ng-if="wifi24GuestStatus.qrString"> <img src="images/barcode-2d.png"> </a>
							</p>
							<div ng-show="isEmpty(listWifi24GuestDevices)">
								<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
							</div>
							<div ng-show="(listWifi24GuestDevices | countActive:isShow) === 0">
								<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
							</div>
							<a class="box-item clearfix" ng-repeat="device in listWifi24GuestDevices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow"> <div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
								<div class="info-device">
									<p class="title title-custom">
										<span ng-bind="device.hostname"></span>&nbsp;
									</p>
									<p class="mapBreakWord" ng-if="device.ipAddress">
										IP:&nbsp;<span ng-bind="device.ipAddress"></span>
									</p>
									<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
										IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
									</p>
									
									<p class="mapBreakWord">
										<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
									</p>
									<p>
										<span ng-bind="device.manufacturer"></span>
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="columns medium-6 large-6 guest-clients5g" id="guest-clients5g" check-feature-state="wifiGuest50">
						<div class="box-map device-box">
							<div class="header-box header-box-sub  guest-stations">
								<a click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'guest'})" class="headerLink">
									<h6 translate="guestStations" class="line-header">Guest Stations</h6>
								</a>
								<a class="sprite header-box-settings headerLink" click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'guest'})" translate="settings">Settings</a>
							</div>
							<p class="info">
								<strong class="wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;<span class="breakWifiSSID" ng-bind="wifi5GuestStatus.ssid" ng-attr-title="{{wifi5GuestStatus.ssid}}"></span>
								<br>
								<span class="wifiSpeedInfo"></span>
								<a class="qrcode-2 right" data-reveal-id="qr-modal5Guest" data-reveal="" check-feature-state="qrCodes" ng-if="wifi5GuestStatus.qrString"> <img src="images/barcode-2d.png"> </a>
							</p>

							<div ng-show="isEmpty(listWifi5GuestDevices)">
								<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
							</div>

							<div ng-show="(listWifi5GuestDevices | countActive:isShow) === 0">
								<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
							</div>

							<a class="box-item clearfix" ng-repeat="device in listWifi5GuestDevices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow">
								<div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
								<div class="info-device">
									<p class="title title-custom">
										<span ng-bind="device.hostname"></span>&nbsp;
									</p>
									<p class="mapBreakWord" ng-if="device.ipAddress">
										IP:&nbsp;<span ng-bind="device.ipAddress"></span>
									</p>
									<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
										IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
									</p>
									
									<p class="mapBreakWord">
										<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
									</p>
									<p>
										<span ng-bind="device.manufacturer"></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
            <!-- End WiFi Bandsteering -->

			<div class="columns medium-4 large-3 text-center" ng-if="!wifiMerge || !bandSteeringEnable" check-feature-state="wifi24g">
				<div class="box-map device-box" id="wifi-24" check-feature-state="nowifi">
					<div class="header-box boxes-clickable">
						<a click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'priv'})" class="headerLink">
							<div id="tile-wifi-24" class="icons-bg header-box-icon wifi" ng-class="wifi24Status.status == 'ON' ? 'border-green' : 'border-dark-red'"></div>
							<h6 class="h6-box" translate="wifi2G4"></h6>
						</a>
						<a class="sprite header-box-settings headerLink" translate="settings" click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'priv'})">Settings</a>
					</div>

					<p class="info">
						<strong class="wifi-2g wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;<span class="breakWifiSSID" ng-bind="wifi24Status.ssid" ng-attr-title="{{wifi24Status.ssid}}"></span>
						<br>
						<span check-feature-state="wifiSpeedInfo" class="wifiSpeedInfo"><strong translate="speedSemicolon">Speed:</strong>&nbsp;<span ng-bind="wifi24Status.actualWifiSpeed"></span>&nbsp;Mbit/s </span><a class="qrcode-2 right" data-reveal-id="qr-modal24" data-reveal="" check-feature-state="qrCodes" ng-if="wifi24Status.qrString"> <img src="images/barcode-2d.png"> </a>
					</p>

					<div ng-show="isEmpty(listWifi24Devices)">
						<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
					</div>

					<div ng-show="(listWifi24Devices | countActive:isShow) === 0">
						<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
					</div>

					<a class="box-item clearfix" ng-repeat="device in listWifi24Devices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow"> <div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
					<div class="info-device">
						<p class="title title-custom">
							<span ng-bind="device.hostname"></span>&nbsp;
						</p>
						<p ng-show="activeIPv4 && device.ipv4AddressActive" ng-if="device.ipAddress" class="mapBreakWord">
 							IP:&nbsp;<span ng-bind="device.ipAddress"></span>
 						</p>
						<p ng-show="!activeIPv4" class="mapBreakWord" ng-if="device.ipAddress">
							IP:&nbsp;<span ng-bind="device.ipAddress"></span>
						</p>
						<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
							IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
						</p>
						
						<p class="mapBreakWord" ng-show="!isSonne">
							<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
						</p>
						<p class="mapBreakWord" ng-show="isSonne">
							<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbit/s
						</p>
						<p>
							<span ng-bind="device.manufacturer"></span>
						</p>
					</div>
					</a>

					<div class="device-box" id="guest-clients" check-feature-state="wifiGuest24">
						<div class="header-box header-box-sub">
							<a click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'guest'})" class="headerLink">
								<h6 translate="guestStations" class="line-header">Guest Stations</h6>
							</a>
							<a class="sprite header-box-settings headerLink" translate="settings" click-loading="" ui-sref="user.wifi({radio : '2.4GHz', mode: 'guest'})">Settings</a>
						</div>
						<p class="info">
							<strong class="wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;<span class="breakWifiSSID" ng-bind="wifi24GuestStatus.ssid" ng-attr-title="{{wifi24GuestStatus.ssid}}"></span>
							<br>
							<span class="wifiSpeedInfo"></span>
							<a class="qrcode-2 right" data-reveal-id="qr-modal24Guest" data-reveal="" check-feature-state="qrCodes" ng-if="wifi24GuestStatus.qrString"> <img src="images/barcode-2d.png"> </a>
						</p>
						<div ng-show="isEmpty(listWifi24GuestDevices)">
							<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
						</div>
						<div ng-show="(listWifi24GuestDevices | countActive:isShow) === 0">
							<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
						</div>
						<a class="box-item clearfix" ng-repeat="device in listWifi24GuestDevices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow"> <div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
						<div class="info-device">
							<p class="title title-custom">
								<span ng-bind="device.hostname"></span>&nbsp;
							</p>
							<p class="mapBreakWord" ng-if="device.ipAddress">
								IP:&nbsp;<span ng-bind="device.ipAddress"></span>
							</p>
							<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
								IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
							</p>
							
							<p class="mapBreakWord">
								<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
							</p>
							<p>
								<span ng-bind="device.manufacturer"></span>
							</p>
						</div>
						</a>
					</div>
				</div>
				<div ng-if="usbHome === 'wifi24'" ng-include="'views/partials/usbList.html'" check-feature-state="usb">
					&nbsp;
				</div>
			</div><!-- wifi-24 -->

			<div class="columns medium-4 large-3 text-center" ng-show="verifyWifi5" check-feature-state="wifi5g" ng-if="hasWiFi5g && (!wifiMerge || !bandSteeringEnable)">
				<div class="box-map device-box" id="wifi-5">
					<div id="wifiAndGuest">
						<div class="header-box boxes-clickable">
							<a click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'priv'})" class="headerLink">
								<div id="tile-wifi-5" class="icons-bg header-box-icon wifi" ng-class="wifi5Status.status == 'ON' ? 'border-green' : 'border-dark-red'"></div>
								<h6 class="h6-box" translate="wifi5G"></h6>
							</a>
							<a class="sprite header-box-settings headerLink" click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'priv'})" translate="settings">Settings</a>
						</div>

						<p class="info">
							<strong class="wifi-5g wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;
							<span class="breakWifiSSID" ng-bind="wifi5Status.ssid" ng-attr-title="{{wifi5Status.ssid}}"></span>
							<br>
                            <span check-feature-state="wifiSpeedInfo" class="wifiSpeedInfo"><strong translate="speedSemicolon">Speed:</strong>&nbsp;<span ng-bind="wifi5Status.actualWifiSpeed"></span>&nbsp;Mbit/s<a class="qrcode-2 right" data-reveal-id="qr-modal5" data-reveal="" check-feature-state="qrCodes" ng-if="wifi5Status.qrString"><img src="images/barcode-2d.png"></a></span>
						</p>

						<div ng-show="isEmpty(listWifi5Devices)">
							<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
						</div>

						<div ng-show="(listWifi5Devices | countActive:isShow) === 0">
							<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
						</div>

						<a class="box-item clearfix" ng-repeat="device in listWifi5Devices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow">
							<div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
							<div class="info-device">
								<p class="title title-custom">
									<span ng-bind="device.hostname"></span>&nbsp;
								</p>
								<p class="mapBreakWord" ng-if="device.ipAddress">
									IP:&nbsp;<span ng-bind="device.ipAddress"></span>
								</p>
								<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
									IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
								</p>
								
								<p class="mapBreakWord">
									<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
								</p>
								<p>
									<span ng-bind="device.manufacturer"></span>
								</p>
							</div>
						</a>

						<div class="device-box" id="guest-clients" check-feature-state="wifiGuest50">
							<div class="header-box header-box-sub">
								<a click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'guest'})" class="headerLink">
									<h6 translate="guestStations" class="line-header">Guest Stations</h6>
								</a>
								<a class="sprite header-box-settings headerLink" click-loading="" ui-sref="user.wifi({radio : '5GHz', mode: 'guest'})" translate="settings">Settings</a>
							</div>
							<p class="info">
								<strong class="wifiSSIDName" translate="ssidName">SSID:</strong>&nbsp;<span class="breakWifiSSID" ng-bind="wifi5GuestStatus.ssid" ng-attr-title="{{wifi5GuestStatus.ssid}}"></span>
								<br>
								<span class="wifiSpeedInfo"></span>
								<a class="qrcode-2 right" data-reveal-id="qr-modal5Guest" data-reveal="" check-feature-state="qrCodes" ng-if="wifi5GuestStatus.qrString"> <img src="images/barcode-2d.png"> </a>
							</p>

							<div ng-show="isEmpty(listWifi5GuestDevices)">
								<p id="description" class="noConnectedDevicesPadding2" translate="noConnectedDevices"></p>
							</div>

							<div ng-show="(listWifi5GuestDevices | countActive:isShow) === 0">
								<p id="description" class="noConnectedDevicesPadding2" translate="noActiveDevices"></p>
							</div>

							<a class="box-item clearfix" ng-repeat="device in listWifi5GuestDevices" ng-click="openDevice(device)" ng-class="{'hasStrength' : device.signalStrength, 'faded' : !device.active}" ng-show="device.active === true || isShow">
								<div class="sprite icon-device icons-bg border-gray {{device.userDeviceType | deviceIcon}}"></div>
								<div class="info-device">
									<p class="title title-custom">
										<span ng-bind="device.hostname"></span>&nbsp;
									</p>
									<p class="mapBreakWord" ng-if="device.ipAddress">
										IP:&nbsp;<span ng-bind="device.ipAddress"></span>
									</p>
									<p ng-show="showIpv6Address && device.ipv6AddressActive" class="mapBreakWord">
										IPv6:&nbsp;<span ng-bind="device.ipv6Address"></span>
									</p>
									
									<p class="mapBreakWord">
										<span translate="signalRate"></span>:&nbsp;<span ng-bind="device.parsedSignalRate"></span>&nbsp;Mbps
									</p>
									<p>
										<span ng-bind="device.manufacturer"></span>
									</p>
								</div>
							</a>
						</div>
					</div>

					
				</div>

				<div ng-if="usbHome === 'wifi50'" ng-include="'views/partials/usbList.html'" check-feature-state="usb">
					&nbsp;
				</div>
			</div><!-- wifi-5 -->

			<div class="columns medium-4 large-3 text-center">
				

				
			</div><!-- voice-ports -->

			<div class="columns medium-4 large-3 text-center" check-feature-state="usb" ng-if="usbHome === 'voice'">
				<div ng-include="'views/partials/usbList.html'">
					&nbsp;
				</div>
			</div>
		</div>
	</div>

<div id="myMediaModal" class="t-center reveal-modal tiny" data-reveal="">
	<a class="close-reveal-modal close-modal" data-close-reveal="">&#215;</a>
	<h5 class="modal-title" translate="myMedia"></h5>
	<p class="align-center" ng-if="twonkyReason === 'DLNA'" translate="noDLNAText"></p>
	<p class="align-center" ng-if="twonkyReason === 'USB'" translate="noMediaText"></p>
	<button id="closeMyMediaModal" class="button tiny radius" translate="continue"></button>
</div>
<div id="qr-modal24" class="t-center reveal-modal minor section-to-print" data-reveal="" check-feature-state="qrCodes">
	<a class="close-reveal-modal close-modal" data-close-reveal="">&#215;</a>
	<a class="qrClick"> <qr ng-if="wifi24Status && wifi24Status.qrString" type-number="0" size="200" image="true" text="wifi24Status.qrString"></qr> </a>
	<small translate="clickToPrint">&nbsp;</small>
</div>
<div id="qr-modal24Guest" class="t-center reveal-modal minor section-to-print" data-reveal="" check-feature-state="qrCodes">
	<a class="close-reveal-modal close-modal" data-close-reveal="">&#215;</a>
	<a class="qrClick"> <qr ng-if="wifi24GuestStatus && wifi24GuestStatus.qrString" type-number="0" size="200" image="true" text="wifi24GuestStatus.qrString"></qr> </a>
	<small translate="clickToPrint">&nbsp;</small>
</div>
<div id="qr-modal5" class="t-center reveal-modal minor" data-reveal="" check-feature-state="qrCodes">
	<a class="close-reveal-modal close-modal" data-close-reveal="">&#215;</a>
	<a class="qrClick"> <qr ng-if="verifyWifi5 && wifi5Status.qrString" type-number="0" size="200" image="true" text="wifi5Status.qrString"></qr> </a>
	<small translate="clickToPrint">&nbsp;</small>
</div>
<div id="qr-modal5Guest" class="t-center reveal-modal minor" data-reveal="" check-feature-state="qrCodes">
	<a class="close-reveal-modal close-modal" data-close-reveal="">&#215;</a>
	<a class="qrClick"> <qr ng-if="verifyWifi5 && wifi5GuestStatus.qrString" type-number="0" size="200" image="true" text="wifi5GuestStatus.qrString"></qr> </a>
	<small translate="clickToPrint">&nbsp;</small>
</div>

<!-- help button -->
<ul id="tlyPageGuide">
	<li id="mainTip1help" translate="mainTip1" data-tourtarget="#my-sagemcom-box">
		Here you can find useful information about your Sagemcom Box.
	</li>
	<li id="mainTip2help" translate="mainTip2" data-tourtarget="#access-control">
		Here you can control the access of your sagemcom box and your devices.
	</li>
	<li id="mainTip3help" translate="mainTip3" data-tourtarget="#internet-connectivity">
		Here you can see the current internet connectivity status.
	</li>
	<li id="mymediaMainHelp" translate="mymediaMain" data-tourtarget="#my-media">
		Here you can share multimedia content across your devices connected to the USB port.
	</li>
	<li id="twonkyMainHelp" translate="mymediaMain" data-tourtarget="#twonky-link">
		Here you can share multimedia content across your devices connected to the USB port.
	</li>
	<li id="mycloudMainHelp" translate="mycloudMain" data-tourtarget="#my-cloud">
		You can upload your files for cloud storage.
	</li>
	<li id="intwoHelpText" translate="intwoHelp" data-tourtarget="#in-two"></li>
	<li id="phonebookMainHelp" translate="phonebookMain" data-tourtarget="#phonebookTip">
		Here you can see informations about contacts and call logs.
	</li>
	<li id="mainTip4help" translate="mainTip4" data-tourtarget="#ethernet-devices">
		Here you can see the information about the devices connected in your Sagemcom Box.
	</li>
	<li id="mainTip5help" translate="mainTip5" data-tourtarget="#wifi-24">
		Here you can see the information about your wireless networks.
	</li>
	<li id="mainTip9help" translate="mainTip9" data-tourtarget="#wifiAndGuest">
		Here you can see the information about your wireless 5Ghz.
	</li>
	<li id="mainTip6help" translate="mainTip6" data-tourtarget="#voice-ports">
		Here you can see the information about your phones.
	</li>
	<li id="mainTip10help" translate="mainTip10" data-tourtarget="#usb-devices">
		Here you can see the information about your USB devices.
	</li>
	<li id="mainTip8help" translate="mainTip8" data-tourtarget="#refresh-btn">
		And click here to show updated data.
	</li>
	<li id="mainTip11help" translate="mainTip11" data-tourtarget="#answeringMachine">
		Check your voice mail.
	</li>
	<li id="mainTip12help" translate="mainTip12" data-tourtarget="#webradio">
		Click here for Web Radio
	</li>
</ul>
<script>
	Foundation.libs.reveal.settings.close_on_background_click = false;
	$(document).foundation();

	$('a.mymediabutton').on('click', function() {
		if ($(this).attr('href') === '#') {
			$('#myMediaModal').foundation('reveal', 'open');
		}
	});

	$('button#closeMyMediaModal').on('click', function() {
		$('#myMediaModal').foundation('reveal', 'close');
	});

	if($.config.showedpages.sonne && $.config.showedpages.sonne.enable) {
		$('.header-box a[ui-sref]').removeAttr('href').removeAttr('ui-sref').attr('href', 'javascript:void(0)').css('cursor', 'default');
	}

	function destroyTooltip() {
		$('#my-sagemcom-box').tooltipster('destroy');
		$('#access-control').tooltipster('destroy');
		$('#internet-connectivity').tooltipster('destroy');
		$('#my-media').tooltipster('destroy');
		$('#my-cloud').tooltipster('destroy');
		$('#in-two').tooltipster('destroy');
		$('#phonebookTip').tooltipster('destroy');
		$('#ethernet-devices').tooltipster('destroy');
		$('#wifi-24').tooltipster('destroy');
		$('#wifiAndGuest').tooltipster('destroy');
		$('#voice-ports').tooltipster('destroy');
		$('#usb-devices').tooltipster('destroy');
		$('#refresh-btn').tooltipster('destroy');
		$('#answeringMachine').tooltipster('destroy');
		$('#webradio').tooltipster('destroy');
	}

	function createTooltip() {
		$('#my-sagemcom-box').tooltipster({
			content : $('#mainTip1help').text()
		});
		$('#access-control').tooltipster({
			content : $('#mainTip2help').text()
		});
		$('#internet-connectivity').tooltipster({
			content : $('#mainTip3help').text()
		});
		$('#my-media').tooltipster({
			content : $('#mymediaMainHelp').text()
		});
		$('#twonky-link').tooltipster({
			content : $('#twonkyMainHelp').text()
		});
		$('#my-cloud').tooltipster({
			content : $('#mycloudMainHelp').text()
		});
		$('#in-two').tooltipster({
			content : $('#intwoHelpText').text()
		});
		$('#phonebookTip').tooltipster({
			content : $('#phonebookMainHelp').text()
		});
		$('#ethernet-devices').tooltipster({
			content : $('#mainTip4help').text()
		});
		$('#wifi-24').tooltipster({
			content : $('#mainTip5help').text()
		});
		$('#wifiAndGuest').tooltipster({
			content : $('#mainTip9help').text()
		});
		$('#voice-ports').tooltipster({
			content : $('#mainTip6help').text()
		});
		$('#usb-devices').tooltipster({
			content : $('#mainTip10help').text()
		});
		$('#refresh-btn').tooltipster({
			content : $('#mainTip8help').text()
		});
		$('#answeringMachine').tooltipster({
			content : $('#mainTip11help').text()
		});
		$('#webradio').tooltipster({
			content : $('#mainTip12help').text()
		});
	}


	$('#helpButton').on('click', function() {
		if ($('#helpButton').css('opacity') === '0.5') {
			$('#helpButton').css('opacity', '1');
			createTooltip();
		} else {
			$('#helpButton').css('opacity', '0.5');
			destroyTooltip();
		}
	});
	setTimeout(function() {
		createTooltip();
	}, 500);
	$('.qrClick').click(function() {
		var t = $(this).find('qr').clone();
		$(t).addClass('qr');
		$(t).css('visibility', 'hidden');
		$('body').append($(t));
		window.print();
		$(t).remove();
	});
	//updating second row
	$('#sbox-container > div').off('refreshSecondRow').on('refreshSecondRow', function() {
		setTimeout(function() {
			var len = $('.secondRow > div').length;
			if(len < 5){
				$('.secondRow > div').removeClass('medium-3');
				var newClass = 'medium-' + (12 / len);
				$('.secondRow > div').addClass(newClass).show();
			} else {
				$('.secondRow > div').removeClass('medium-3');
				$('.secondRow > div').css('width', Math.round(100/len) +'%').show();
			}
		}, 1000);
	});
</script>
