<div wait-loading></div>
<div class="content ng-hide" ng-show="!loading" id="maintenance-firstInstall">
	<h4 translate="quickSetupWizard">Quick Setup Wizard</h4>
	<div class="row">
		<div class="columns large-3 medium-4 small-4">
			<label class="inline" translate="accessWizard">Access to wizard</label>
		</div>
		<div class="columns large-3 medium-8 small-8 end">
			<a href="#/firstAccess" type="button" class="button little radius btn btn-info" translate="quickSetupWizard" id="QSWTip" role="button">Quick Setup Wizard</a>
		</div>
	</div>
	<div class="row columns large-3 medium-4 small-4">
		<label class="inline" translate="QSWDescription">This setup allow you to view your gateway cables connection.</label>
	</div>
</div>