<div class="content" id="led">
  <h4 translate="lightControl">LED Lights</h4>
	
	
	
	<div class="right" ng-show="!onChangeSave">
		<button class="button tiny radius btn-cancel" type="button" translate="cancel" click-loading="" ui-sref="{{previousMainPage}}">
			Cancel
		</button>
		<button class="button tiny radius" type="submit" translate="apply" ng-click="save()">
			Apply
		</button>
	</div>
</div>

<!-- help button -->
<ul id="tlyPageGuide">
	<li translate="ledTip1" data-tourtarget="#ledTip1"></li>
</ul>
