<div wait-loading></div>
<div class="content active ng-hide" ng-show="!loading" id="maintenance-resets">
	<h4 translate="dslLine">DSL Line</h4>
	
	<div class="row">
		<div class="columns large-3 medium-4 small-4">
			<label class="inline" for="singleLineInput" translate="singleLine">Single Line</label>
		</div>
		<div class="columns large-3 medium-8 small-8 end">
			<div class="onoffswitch" id="">
				<input class="onoffswitch-checkbox noValidate" id="singleLineInput" type="checkbox" ng-model="singleLine" name="singleLine"/>
				<label class="onoffswitch-label" for="singleLineInput">
					<div class="onoffswitch-inner"></div>
					<div class="onoffswitch-switch"></div>
				</label>
			</div>
		</div>
	</div>
	<!-- Buttons -->
	<div class="row">
		<div class="columns large-3 medium-4 small-4">
			<label class="inline" translate="restartGateway">Restart Gateway</label>
		</div>
		<div class="columns large-3 medium-8 small-8 end">
			<button type="button" class="button tiny radius" data-reveal-id="restart-modal" data-reveal translate="restart" id="restartGatewayTip" ng-click="beforeReboot();" ></button>
		</div>
	</div>
	<div class="row columns">
		<div class="alert-box warning radius" data-alert>
		    <i class="fa fa-info-circle fa-center center"></i>
		    <span translate="rebootExplained">&nbsp;</span>
		</div>
	</div>
	<!-- Model for restart -->
	
	<!-- Model for restart -->
	<div id="restart-modal" class="reveal-modal tiny" data-reveal>
        <a class="close-reveal-modal close-modal" data-close-reveal>
        	<span class="btn-close">&#215;</span>
			<span class="show-word btn-close close" translate="close">Close</span>
        </a>

        <h5 class="modal-title" translate="restart">Restart</h5>

        <p translate="restartDescription">
			Are you sure you want to Reset the Gateway?
		</p>

        <div class="right">
            <button class="button tiny radius btn-cancel" type="button" translate="cancel" onclick="$('#restart-modal a.close-reveal-modal').trigger('click');" data-close-reveal></button>
			<button class="button tiny radius" type="button" translate="yes" data-reveal-id="pleasewait-modal" data-reveal ng-click="reboot()"></button>
        </div>
    </div>
	
	<!-- Model for please wait message -->
	<div id="pleasewait-modal" class="reveal-modal tiny" data-reveal>
        <h5 class="modal-title" translate="{{popupTitle}}"></h5>

        <p translate="resetDescription">Please, wait while the Gateway is rebooting...</p>

        <div ng-if="!logoWaiting" class="t-center">
			<img src="images/loading.gif" border="0" />
		</div>

		<div ng-if="logoWaiting" class="t-center">
	        <div class="logo-waiting">
	         <p translate="pleaseWaitLoading"> Please wait... </p>
	        </div>
	    </div>
    </div>
</div>
<script>
	Foundation.libs.reveal.settings.close_on_background_click = false;
	$(document).foundation();
</script>

<!-- help button -->
<ul id="tlyPageGuide">
  <li translate="restartGatewayTip" data-tourtarget="#restartGatewayTip">
  </li>
  <li translate="resetGatewayTip" data-tourtarget="#resetGatewayTip">
  </li>
</ul>