<div class="columns medium-12 ng-hide" id="ploampass"  ng-show="enablePloamPassword">
	<div class="row">
		<div id="header-page">
			<div class="columns custom-menu-title-size medium-6">
				<h3 translate="PloamPassword">Ploam Password</h3>
			</div>
			<div class="columns custom-menu-itens-size-pages medium-6 text-right header-controls">
				<span ng-if="reverseHeaderControls">
					<a id="homebtn" title="Home" class="icons-bg border-gray" click-loading ui-sref="user.home">
						<img src="images/icon-home.png" alt="Home Icon">
					</a>
					<span class="refresh-button">
						<a id="refreshContent" class="btn-refresh" ng-click="refreshContent()" >
							<img src="images/refresh.png">
							<span translate="refresh">Refresh</span>
						</a>
					</span>
					<div internet-connectivity></div>
				</span>
				<span ng-if="!reverseHeaderControls">
					<div internet-connectivity></div>
					<extended-menu ng-if="extendedMenus"></extended-menu>
					<a ng-if="!extendedMenus" id="homebtn" title="Home" class="icons-bg border-gray" click-loading ui-sref="user.home">
						<img src="images/icon-home.png" alt="Home Icon">
					</a>
				</span>
			</div>

		</div>
	</div>
	<div messagebox></div>
	<div id="main-content" >
		<div wait-loading></div>
		<div class="content ng-hide" ng-show="!loading" id="pf-games-apps">
			<div class="row">
				<form id="PloamPasswordForm" name="PloamPasswordForm">
				<div class="row">
					<div class="columns medium-3 small-5">
						<label class="inline" translate="PloamPassword"></label>
					</div>
					<div class="columns medium-3 end">
						<input type="password" pass-reveal="{{revealOnFocus.ploam}}" pr-visible="{{showPassword}}" name="ploamPassword" id="ploamPassword" clear-validation-on-focus="true" ng-model="ploamPassword" ng-change="notHexCodePassword()"/>
						<small class="error" ng-if="notvalidpassword()" translate="invalidPassword"> </small>
						<small check-feature-state="useHexCodePloamPassword" class="error ng-hide" ng-if="!isValidHexCode" translate="invalidHexCodePassword" style="display: block;">The password must be a Hex Code</small>
					</div>
				</div>
				<div class="row" ng-show="securityMode != 'NONE'">
					<div class="columns small-3" ng-if="!revealOnFocus.ploam">
						<input type="checkbox" id="showPloamPasswordid" ng-model="showPasswordsText" ng-click="togglePassword()">
						<label for="showPloamPasswordid" translate="showUserPassword">Show Password</label>
					</div>
					<div class="columns small-6 end ng-hide" check-feature-state="useHexCodePloamPassword">
						<input type="checkbox" id="isHexCodePassword" ng-model="isHexCodePassword" ng-click="toggleHexCodePassword()">
						<label for="isHexCodePassword" translate="hexCodeUserPassword">Hex code Password</label>
					</div>
				</div>
				<div class="columns large-10 small-12">
					<div class="alert-box warning large radius" data-alert>
			    		<i class="fa fa-info-circle fa-center center"></i>
			    		<span translate="ploamPasswordWarning">&nbsp;</span>
					</div>
				</div>
				<div class="columns large-10 large-centered small-12">
					<div class="row">
						<div class="right" >
							<button class="button tiny radius" translate="save" ng-disabled="ploamPassword == ''" ng-click="save()" id="PloamPasswordAdd"></button>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

<!-- help button -->
<ul id="tlyPageGuide">
	<li translate="ploam" data-tourtarget="#ploampass">
	</li>
</ul>
