<div class="anim">
  <div id="page-content" class="row">
    <div class="columns small-12">
      <div class="row">
        <div id="header-page">
          <div class="columns medium-6 small-12">
            <h2 translate="services">Services</h2>
          </div>
          <div class="columns medium-6 small-12 text-right simpleConnectivity">
            <a href="javascript:void(0)" id="status-internet" ng-class="connectivity.status ? 'is_connected' : 'is_disconnected'">
            <svg title="Internet: connected" class="icon">
              <use xlink:href="images/sprite.svg?new#icon-wifi"/>
            </svg> <span translate="internetConnectivityOn" ng-show="connectivity.status" class="ng-hide"></span> <span translate="internetConnectivityOff"  ng-hide="connectivity.status" class="ng-hide"></span> </a>
          </div>
        </div>
      </div>
      <div messagebox></div>
      <div id="main-content">
        <a class="shs" href="#" translate="showSection">Show Sections</a>
        <dl id="servicesTab" class="tabs" data-tab>
          <dd>
              <a click-loading ui-sref="user.simple.services.dyndns">Dynamic DNS</a>
          </dd>
          <dd>
            <a click-loading ui-sref="user.simple.services.portForwarding.addRule">Port Forwarding</a>
          </dd>
          <dd>
            <a click-loading ui-sref="user.simple.services.remoteWebAccess">Remote Web Access</a>
          </dd>
          <dd>
            <a click-loading ui-sref="user.simple.services.trafficMonitor">Traffic Monitor</a>
          </dd>
        </dl>
        <div class="tabs-content" ui-view data-tab-content></div>
      </div>
    </div>
  </div>
</div>
