<style>
	body {
		background: #ffffff !important;
	}
</style>

<script>
	$('html').attr('dir', 'ltr');
	$('link[rel=stylesheet][href="styles/vendor.css"]').prop('disabled', false);
	$('link[rel=stylesheet][href="styles/app-download.css"]').prop('disabled', false);
</script>

<div class="columns medium-12 text-center">
	<!-- text changed by bug 87083/6320-->
	<!-- text changed again by bug 90010/6692 -->
	<!-- changed to .gif - Bugs 90010/6692 and 93313/7039 -->
	<div class="row">
		<img src="images/splash_FU.gif">
	</div>
</div>
