<div class="content" id="sched" >
	<div class="row">
		<!-- inicia linha -->
		<div class="columns small-12">
			<div class="tabs-content-sched">
				<h5>Wifi Scheduling</h5>
				<div class="row">
					<div class="columns medium-12 small-12 pad-top">
						<p>
							<strong> Week Time Slots </strong>
						</p>
					</div>

					<div class="columns medium-4 small-12 text-center">
						<div class="row">
							<div class="columns small-6">
								<input class="button tiny radius expand btn-deny-all" type="submit" value="Deny All" />
							</div>

							<div class="columns small-6">
								<input class="button tiny radius expand btn-allow-all" type="submit" value="Allow All" />
							</div>
						</div>
					</div>
				</div><!--.row-->

				<div class="row week-time-slots">
					<div class="columns small-12">
						<table class="t-a-d">
							<tr>
								<th>0h</th>
								<th width="11%">4h</th>
								<th width="11%">8h</th>
								<th width="11%">12h</th>
								<th width="11%">16h</th>
								<th width="11%">20h</th>
								<th width="11%">24h</th>
								<th width="15%"></th>
							</tr>

							<tr>
								<th>Sunday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="s1">
										<input id="s1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="s2">
										<input id="s2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="s3">
										<input id="s3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="s4">
										<input id="s4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="s5">
										<input id="s5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="s6">
										<input id="s6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="s7">
										<input id="s7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="s8">
										<input id="s8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="s9">
										<input id="s9" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="10" for="s10">
										<input id="s10" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="11" for="s11">
										<input id="s11" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="12" for="s12">
										<input id="s12" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="s13">
										<input id="s13" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="14" for="s14">
										<input id="s14" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="15" for="s15">
										<input id="s15" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="16" for="s16">
										<input id="s16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="s17">
										<input id="s17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="s18">
										<input id="s18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="s19">
										<input id="s19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="s20">
										<input id="20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="" for="s21">
										<input id="s21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="" for="s22">
										<input id="s22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="" for="s23">
										<input id="s23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="" for="s24">
										<input id="s24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Monday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="m1">
										<input id="m1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="m2">
										<input id="m2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="m3">
										<input id="m3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="m4">
										<input id="m4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="m5">
										<input id="m5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="m6">
										<input id="m6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="m7">
										<input id="m7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="m8">
										<input id="m8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="m9">
										<input id="m9" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="10" for="m10">
										<input id="m10" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="11" for="m11">
										<input id="m11" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="12" for="m12">
										<input id="m12" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="m13">
										<input id="m13" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="14" for="m14">
										<input id="m14" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="15" for="m15">
										<input id="m15" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="16" for="m16">
										<input id="m16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="m17">
										<input id="m17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="m18">
										<input id="m18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="m19">
										<input id="m19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="m20">
										<input id="m20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="m21">
										<input id="m21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="m22">
										<input id="m22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="m23">
										<input id="m23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="m24">
										<input id="m24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Tuesday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="t1">
										<input id="t1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="t2">
										<input id="t2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="t3">
										<input id="t3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="t4">
										<input id="t4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="t5">
										<input id="t5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="t6">
										<input id="t6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="t7">
										<input id="t7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="t8">
										<input id="t8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="t9">
										<input id="t9" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="10" for="t10">
										<input id="t10" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="11" for="t11">
										<input id="t11" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="12" for="t12">
										<input id="t12" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="t13">
										<input id="t13" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="14" for="t14">
										<input id="t14" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="15" for="t15">
										<input id="t15" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="16" for="t16">
										<input id="t16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="t17">
										<input id="t17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="t18">
										<input id="t18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="t19">
										<input id="t19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="t20">
										<input id="t20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="t21">
										<input id="t21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="t22">
										<input id="t22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="t23">
										<input id="t23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="t24">
										<input id="t24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Wednesday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="w1">
										<input id="w1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="w2">
										<input id="w2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="w3">
										<input id="w3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="w4">
										<input id="w4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="w5">
										<input id="w5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="w6">
										<input id="w6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="w7">
										<input id="w7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="w8">
										<input id="w8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="w9">
										<input id="w9" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="10" for="w10">
										<input id="w10" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="11" for="w11">
										<input id="w11" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="12" for="w12">
										<input id="w12" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="w13">
										<input id="w13" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="14" for="w14">
										<input id="w14" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="15" for="w15">
										<input id="w15" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="16" for="w16">
										<input id="w16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="w17">
										<input id="w17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="w18">
										<input id="w18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="w19">
										<input id="w19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="w20">
										<input id="w20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="w21">
										<input id="w21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="w22">
										<input id="w22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="w23">
										<input id="w23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="w24">
										<input id="w24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Thursday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="th1">
										<input id="th1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="th2">
										<input id="th2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="th3">
										<input id="th3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="th4">
										<input id="th4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="th5">
										<input id="th5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="th6">
										<input id="th6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="th7">
										<input id="th7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="th8">
										<input id="th8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="th9">
										<input id="th9" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="10" for="th10">
										<input id="th10" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="11" for="th11">
										<input id="th11" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="12" for="th12">
										<input id="th12" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="th13">
										<input id="th13" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="14" for="th14">
										<input id="th14" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="15" for="th15">
										<input id="th15" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="16" for="th16">
										<input id="th16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="th17">
										<input id="th17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="th18">
										<input id="th18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="th19">
										<input id="th19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="th20">
										<input id="th20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="th21">
										<input id="th21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="th22">
										<input id="th22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="th23">
										<input id="th23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="th24">
										<input id="th24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Friday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="f1">
										<input id="f1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="f2">
										<input id="f2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="f3">
										<input id="f3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="f4">
										<input id="f4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="f5">
										<input id="f5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="f6">
										<input id="f6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="f7">
										<input id="f7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="f8">
										<input id="f8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="f9">
										<input id="f9" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="10" for="f10">
										<input id="f10" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="11" for="f11">
										<input id="f11" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="12" for="f12">
										<input id="f12" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="f13">
										<input id="f13" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="14" for="f14">
										<input id="f14" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="15" for="f15">
										<input id="f15" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="16" for="f16">
										<input id="f16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="f17">
										<input id="f17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="f18">
										<input id="f18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="f19">
										<input id="f19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="f20">
										<input id="f20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="f21">
										<input id="f21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="f22">
										<input id="f22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="f23">
										<input id="f23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="f24">
										<input id="f24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>

							<tr>
								<th>Saturday</th>
								<td colspan="6">
								<div class="time-inputs">
									<!-- 0 -->
									<label title="1" for="sa1">
										<input id="sa1" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="2" for="sa2">
										<input id="sa2" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="3" for="sa3">
										<input id="sa3" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="4" for="sa4">
										<input id="sa4" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 4 -->
									<label title="5" for="sa5">
										<input id="sa5" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="6" for="sa6">
										<input id="sa6" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="7" for="sa7">
										<input id="sa7" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="8" for="sa8">
										<input id="sa8" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 8 -->
									<label title="9" for="sa9">
										<input id="sa9" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="10" for="sa10">
										<input id="sa10" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="11" for="sa11">
										<input id="sa11" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="12" for="sa12">
										<input id="sa12" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<!-- 12 -->
									<label title="13" for="sa13">
										<input id="sa13" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="14" for="sa14">
										<input id="sa14" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="15" for="sa15">
										<input id="sa15" type="checkbox" checked />
										<i aria-hidden="true"></i></label>
									<label title="16" for="sa16">
										<input id="sa16" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 16 -->
									<label title="17" for="sa17">
										<input id="sa17" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="18" for="sa18">
										<input id="sa18" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="19" for="sa19">
										<input id="sa19" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="20" for="sa20">
										<input id="sa20" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 20 -->
									<label title="21" for="sa21">
										<input id="sa21" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="22" for="sa22">
										<input id="sa22" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="23" for="sa23">
										<input id="sa23" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<label title="24" for="sa24">
										<input id="sa24" type="checkbox" />
										<i aria-hidden="true"></i></label>
									<!-- 24 -->
								</div>
								<div class="dotted-line" aria-hidden="true">
									<!-- just for design -->
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div></td>

								<td>
								<input class="button mini radius btn-deny" type="button" value="Deny" />
								<input class="button mini radius btn-allow" type="button" value="Allow" />
								</td>
							</tr>
						</table><!--.t-a-d-->
					</div>
				</div><!--.week-time-slots-->

			</div><!--.tabs-content-sched-->
		</div>
	</div><!--.row-->
</div><!--#sched-->
<script>
	$(function() {
		$('.time-inputs input').dragCheck({
			container : 'label',
			onSelect : function(obj, state) {
				obj.prop('checked', state);
			}
		});

		$('.btn-deny').on('click', function() {
			$(this).parents('tr').find('.time-inputs label input').prop('checked', false);
		});

		$('.btn-deny-all').on('click', function() {
			$('.time-inputs label input').prop('checked', false);
		});

		$('.btn-allow').on('click', function() {
			$(this).parents('tr').find('.time-inputs label input').prop('checked', true);
		});

		$('.btn-allow-all').on('click', function() {
			$('.time-inputs label input').prop('checked', true);
		});
	}); 
</script>