<div class="columns medium-12 ng-hide" ng-show="true">
	<div class="row">
		<div id="header-page">
			<div class="columns custom-menu-title-size medium-6">
				<h3 class="subTitle">
					<span translate="wifi"></span>&nbsp;<span ng-bind="title"></span>
				</h3>
				<h3 ng-if="mode === 'guest'" translate="guest"></h3>
			</div>
			<div class="columns custom-menu-itens-size-pages medium-6 text-right header-controls">
				<span ng-if="reverseHeaderControls">
					<a id="homebtn" title="Home" class="icons-bg border-gray" click-loading="" ui-sref="user.home"> <img src="images/icon-home.png" alt="Home Icon"> </a>
					<span ng-show="showRefreshButton" class="refresh-button">
						<a id="refreshContent" class="btn-refresh" call-controller-method="refreshContent">
			                <img src="images/refresh.png">
							<span translate="refresh">Refresh</span>
			            </a>
					</span>
					
					<div internet-connectivity=""></div>
				</span>
				<span ng-if="!reverseHeaderControls">
					<div internet-connectivity=""></div>
					<extended-menu ng-if="extendedMenus"></extended-menu>
					
					<a ng-if="!extendedMenus" id="homebtn" title="Home" class="icons-bg border-gray" click-loading="" ui-sref="user.home"> <img src="images/icon-home.png" alt="Home Icon"> </a>
				</span>
			</div>

		</div>
	</div>
	<div messagebox=""></div>
	<div id="main-content">
		<a class="shs" href="javascript:void(0)" translate="showSection">Show Sections</a>
		<dl id="wifiTab" class="tabs" data-tab="">
			<dd class="active" style="display:none;" check-feature-state="wifiBasic">
				<a click-loading="" ui-sref="user.wifi.basic({radio : radioName, mode: mode})" translate="basic">Basic</a>
			</dd>
			<dd ng-if="mode !== 'guest'" style="display:none;" check-feature-state="wifiWPS">
				<a click-loading="" ui-sref="user.wifi.wps({radio : radioName, mode: mode})" translate="wps">WPS</a>
			</dd>
			<dd style="display:none;" check-feature-state="wifiStats" ng-hide="mode === 'guest' && wifiStatsGuest">
				<a click-loading="" ui-sref="user.wifi.stats({radio : radioName, mode: mode})" translate="wifiStats">WiFi Stats</a>
			</dd>
			<dd style="display:none;" check-feature-state="wifiAdvanced" ng-hide="mode === 'guest' && communSettingsGuest">
				<a click-loading="" ui-sref="user.wifi.advanced({radio : radioName, mode: mode})" translate="advanced">Advanced</a>
			</dd>
			<dd style="display:none;" check-feature-state="wifiAdvanced">
				<a click-loading="" ui-sref="internal.wifi.advanced({radio : radioName, mode: mode})" translate="advanced">Advanced</a>
			</dd>
			
			
			
			
			
			<dd style="display:none;" check-feature-state="wirelessEnvironment">
				<a click-loading="" ui-sref="user.wifi.environment.scan({radio : radioName, mode: mode})" translate="wirelessEnviroment">Wireless Environment</a>
			</dd>
			
			
			
		</dl>
		<div class="tabs-content" ui-view="">
			&nbsp;
		</div>
	</div>
</div>
